@import "./StyleGuide.scss";

.LoadingScreenSection {
  background-color: rgb(5, 5, 49);
  color: white;
  display: flex;
  font-family: "Cormorant SC", serif;
  height: 100vh;
  width: 100vw;
  position: relative;
  @include centerItems;

  .LoadingScreenCircle {
    background-color: #006cbe;
    border-radius: 90%;
    display: flex;
    height: 20vw;
    min-height: 200px;
    width: 20vw;
    min-width: 200px;
    border: white solid 2px;
    @include centerItems;

    h1 {
      font-family: "Cormorant SC", serif;
      font-size: 80px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
    }

    h2 {
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 10%;
    }
  }
}
